<%= erb :header %>

<section id="features" class="module">
	<div class="container">
		<div class="row">
			<header>
				<h2 class="text-center">Loaded with features to increase your productivity</h2>
			</header>
			<div class="span12">

				<div id="automatic" class="promo">
					<div class="inner">
						<h3>Analyze your EPG recordings with one button push</h3>
						<p>Several EPG waveform recognition engines have been developed based on data collected by Dr. Ramirez's group, which includes many aphids species. All these advancements are added to AutoEPG software offering automatic analysis of EPG data.</p>
					</div>
					<img src="img/automatic.png">
				</div>

				<div id="editing" class="promo">
					<div class="inner">
						<h3>A tailored analysis tool</h3>
						<p>EPG analysis couldn't be faster with AutoEPG's clean and easy-to-use user interface. The EPG Profile Viewer offers an excellent way to track, review and edit your work, and together with lots of useful shortcuts, they greatly enhance your analysis workflow. </p>
					</div>
					<img src="img/editing.png">
				</div>

				<div id="cross" class="promo">
					<div class="inner">
						<h3>Don't have a Mac?, No problem</h3>
						<p>AutoEPG was developed using the cross-platform application framework Qt, which allows to port AutoEPG to all major operating systems with ease and having a native look-and-feel.</p>
					</div>
					<img src="img/mainwindows.png">
				</div>

				<div id="share" class="promo">
					<div class="inner">
						<h3>Don't work by your own, share it with ease</h3>
						<p>You can export your changes into a EPS format file, which then can be edited by your colleagues. Invidiual comments can be very useful for reviewing the results and sharing your ideas, so use and read them thoroughly.</p>
					</div>
					<img src="img/exporting.png">
				</div>

				<div class="row">
					<div id="else" class="promo">
						<div class="span4">
							<div class="content">
								<h4>Equipment agnostic</h4>
								<p>While AutoEPG can read Probe Acquisition files directly, it can also read ASCII files which can be derived from any EPG acquisition equipment.</p>
							</div>
						</div>
						<div class="span4">
							<div class="content">
								<h4>Use your results anywhere</h4>
								<p>You can export your results into a comma-separated values (CSV) file, so you can easily use them in any spreadsheet application of your choosing such as Microsoft Excel, Numbers or LibreOffice.</p>
							</div>
						</div>
						<div class="span4">
							<div class="content">
								<h4>Widgets &amp; panels</h4>
								<p>Many visual components of AutoEPG can be undock from the main window, so you can drag them to a secondary monitor and arrange them as you please.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="" class="top"><i class="icon-arrow-up"></i> Back to top</a>
</section>

<section id="download" class="module">
	<div class="container">
		<div class="row">
			<header>
				<h2>Download AutoEPG</h2>
				<h3 class="muted">Available on all major operating systems</h3>
			</header>
			<div class="span4">
				<div class="tile">
          <img src="img/linux.png" alt="Linux" class="tile-image">
          <h3 class="tile-title">Linux</h3>
          <p>Only one binary is available, which has been tested on Ubuntu 13.04.</p>
          <p>However, it should be portable to other Ubuntu- or Debian-based distros.</p>
          <a class="btn btn-primary btn-large btn-block disabled" href="#" title="Not available yet">
          	Get binary
          </a>
          <small class="muted">Version 0.9.1 b99 (May 2013)</small>
        </div>
			</div>
			<div class="span4">
				<div class="tile">
          <img src="img/win.png" alt="Windows" class="tile-image">
          <h3 class="tile-title">Windows</h3>
          <p>It is distributed as a single executable package, ready to deploy everywhere.</p>
          <p>It runs on Windows XP, 7 and 8 (probably).</p>
          <a class="btn btn-primary btn-large btn-block" href="#">
          	autoepg.rar
          </a>
          <small class="muted">Requires Qt Libraries (Included)</small>
        </div>
			</div>
			<div class="span4">
				<div class="tile">
          <img src="img/osx.png" alt="Mac OS X" class="tile-image">
          <h3 class="tile-title">Mac OS X</h3>
          <p>A single bundle has been generated, with no other dependencies.</p>
          <p>It supports OS X 10.6+ (64-bit Intel only), albeit it has been tested only on 10.8.</p>
          <a class="btn btn-primary btn-large btn-block disabled" href="#" title="Not available yet">
          	autoepg.app
          </a>
          <small class="muted">Version 0.9.1 b99 (May 2013)</small>
        </div>
			</div>
		</div>
	</div>
	<a href="" class="top"><i class="icon-arrow-up"></i> Back to top</a>
</section>

<section id="about" class="module">
	<div class="container">
		<div class="row">
			<section id="core_team">
		  <header>
		    <h2>Meet the awesome folks who make AutoEPG</h2>
		  </header>
		  <ul class="unstyled">
		    <li>
		      <figure>
		        <img src="<%= gravatar_for "francisco.adasme@gmail.com", size: 192 %>" alt="Francisco Adasme" style="background-image: url(<%= gravatar_for "francisco.adasme@gmail.com", size: 192 %>)" />
		        <figcaption><h3>Francisco Adasme</h3></figcaption>
		      </figure>
		      <p>Francisco is a Bioinformatic Engineer and a PhD student in Applied Sciences at <a href="http://www.utalca.cl">Universidad de Talca</a>, Chile. He is the developer behind AutoEPG and has developed some routines in others science fields.</p>
					<p>His main research interests are related to the study of molecular interactions in several protein-drug systems through computational chemistry methods, but he also serves as web developer and recently, Mac OS X developer.</p>
		      <a href="http://about.me/franciscoadasme">about.me/franciscoadasme</a>
		    </li><!--
		    --><li>
		      <figure>
		        <img src="img/camila.jpg" alt="Camila Munoz" style="background-image: url(img/camila.jpg)">
		        <figcaption><h3>Camila Muñoz</h3></figcaption>
		      </figure>
		      <p>Camila proposed AutoEPG development during her internship at Dr. Ramirez's laboratory back in 2011. Since then, she has taken the lead of the project as well as she took care of product development and testing.</p>
		      <p>She belongs to the <a href="http://cbsm.utalca.cl">Centre for Bioinformatics and Molecular Simulations</a> (CBSM), where she's currently conducting his PhD thesis on the molecular study of A2A receptor inhibitors.</p>
		      <a href="http://about.me/camila.munoz">about.me/camila.munoz</a>
		    </li><!--
		    --><li>
		      <figure>
		        <img src="<%= gravatar_for "claudio.clramirez@gmail.com", size: 192 %>" alt="Claudio C. Ramirez" style="background-image: url(<%= gravatar_for "claudio.clramirez@gmail.com", size: 192 %>)">
		        <figcaption><h3>Claudio C. Ramirez</h3></figcaption>
		      </figure>
		      <p>Claudio is interested on insect-plant interactions emphasizing proximal (ecological) and distal (evolutionary) causes. Particulary, He has been studying behavioural and morphological mechanisms underlying insect-feeding patterns, as well as plant responses to insects herbivory.</p>
		      <p>He has studied some of these topics working with cereal aphids (Hemiptera Aphididae), which are important agronomical pests in Chile.</p>
		      <a href="http://biologia.utalca.cl/biodiversidad/insecto-planta/Claudio.html">biologia.utalca.cl</a>
		    </li>
		  </ul>
		</section>
		</div>
	</div>
	<a href="" class="top"><i class="icon-arrow-up"></i> Back to top</a>
</section>

<section id="contact" class="module">
	<div class="container">
		<div class="row">
			<div class="span8">
				<header>
					<h2>Where we are at</h2>
				</header>
				<iframe width="620" height="384" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Universidad+de+Talca,+chile&amp;aq=&amp;sll=-35.412246,-71.641984&amp;sspn=0.049107,0.070553&amp;ie=UTF8&amp;hq=Universidad+de+Talca,+chile&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=8889998698933059338&amp;ll=-35.405492,-71.633177&amp;spn=0.026794,0.053129&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			</div>
			<div class="addresses span4">
				<div class="content">
					<address>
					  <a href="http://cbsm.utalca.cl">Centre for Bioinformatics and Molecular Simulation</a><br>
					  Universidad de Talca<br>
					  Av. Lircay S/N<br>
					  Talca, Chile<br>
					  56) 71 201 685<br>
					  <a href="mailto:cbsmchile@gmail.com">cbsmchile@gmail.com</a>
					</address>
					<address>
					  <a href="http://biologia.utalca.cl/biodiversidad/insecto-planta/index.html">Laboratorio de Interacciones<br>Insecto-Planta</a><br>
					  Universidad de Talca<br>
					  Av. Lircay S/N<br>
					  Talca, Chile<br>
					  (56) 71 200 267
					</address>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="top"><i class="icon-arrow-up"></i> Back to top</a>
</section>

<footer id="footer" class="module">
	<div class="container">
		<div class="row">
			<ul class="nav nav-pills">
				<li><a class="top" href="#">Top</a></li>
				<li><a href="#features">Features</a></li>
				<li><a href="#download">Download</a></li>
				<li><a href="#about">Meet us</a></li>
			</ul>
			<p class="made">Made in Chile</p>
		</div>
	</div>
	<p class="rights">© 2013 All Rights Reserved &ndash; <a href="http://cbsm.utalca.cl"><abbr title="Centre for Bioinformatics and Molecular Simulation">CBSM</abbr></a></p>
</footer>
